--- 
import Layout from '../layouts/Layout.astro'   
import Terminal from '../components/terminal.astro'  
---

<Layout>
    <section class = "py-24 flex flex-col items-center w-full px-8">        <!-- contenedor de la sección -->

    
      <Terminal />



      <div class="flex justify-center gap-6 pb-16"> 

          <a href="/proyectos" class="bg-blue-500  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Ver proyectos
          </a>

          <a href="/blog" class="bg-red-500  hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Ver blog
          </a>
      </div>
    </section>
</Layout>