<div class="terminal bg-(--bg-1) text-(--fg-0) font-mono rounded-lg shadow-lg max-w-4xl mx-auto mt-16">
    <div class="terminal-header flex gap-2 items-center p-4">
        <div class="terminal-title"></div>
        <div class="terminal-controls flex gap-2">
            <span class="w-3 h-3 rounded-full bg-red-500"></span>
            <span class="w-3 h-3 rounded-full bg-yellow-400"></span>
            <span class="w-3 h-3 rounded-full bg-green-500"></span>
        </div>
    </div>
    <div class="terminal-body p-4">
            <p class="terminal-prompt">user@obviousfancy:~$</p>
            <p class="terminal-output">Bienvenido a mi portafolio. Aquí encontrarás mis proyectos, blog y más información sobre mí.</p>
    </div>
        
</div>