---
import '../styles/global.css'
import Navbar from '../components/Navbar.astro'
---

<html lang="es">
  <head>
     <meta charset="UTF-8" />   <!-- ← esta línea, sin ella se rompen tildes y ñ -->
    <meta name="viewport" content="width=device-width" />
    <title>Obviousfancy</title>
  </head>
  <body class="bg-gray-900 text-white">
    <Navbar />
    <slot />
  </body>
</html>